<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row justify-content-end class="header-row">
            <ion-col class="q-col" size="12" size-sm="12" size-md="12">
                <ion-label class="q-header">Contact form</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="form-grid">
        <form name="form" #f="ngForm">
            <ion-row>
                <ion-col class="register-section-heading">
                    <ion-label class="form-label">Your information</ion-label>
                    <hr class="horizontal-line">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="form-label">First Name *</ion-label>
                    <ion-input type="text" name="firstName" [(ngModel)]="firstName" required>
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="form-label">
                        Email Address *
                    </ion-label>
                    <ion-input type="email" name="email" [(ngModel)]="email" required>
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="form-label">
                        Message *
                    </ion-label>
                    <ion-textarea name="message" type="text" [(ngModel)]="message" required>
                    </ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="1">
                    <ion-checkbox name="condition" [(ngModel)]="condition"></ion-checkbox>
                </ion-col>
                <ion-col size="11">
                    <ion-label class="form-label">I accept that Mazars will process my personal data for the purpose of handling my request*</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button class="login-register-buttons register-button" size="small" [disabled]="f.invalid" (click)="onSubmit()">Send form
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <span class="contact-form-mandatory">* mandatory fields</span>
                    <p class="contact-form-para">Your personal data is collected by Mazars in Albania, the data controller, in accordance with applicable laws and regulations.Fields marked with an asterisk are required. If any required field is left blank, it will not be possible
                        to process your request. Your personal data is collected for the purpose of processing your request.
                    </p>
                    <p class="contact-form-para">You have a right to access, correct and erase your data, and a right to object to or limit the processing of your data. You also have a right to data portability and the right to provide guidance on what happens to your data after
                        your death. Finally, you have the right to lodge a complaint with a supervisory authority and a right not to be the subject of a decision based exclusively on automated processing, including profiling, that produces legal effects
                        concerning you or significantly affects you in a similar way.
                    </p>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>