.pass-label {
    font-size: 17px;
    font-family: DINBold;
    color: var(--ion-color-grey-tint);
}

ion-input {
    border-radius: 0px;
    border: 0.8px solid #E3E3E3;
    font-size: 14px;
    height: calc(1.5em + .75rem + 2px);
    padding-left: 28px !important;
}

.reset-button {
    --border-width: 1px;
}

.reset-buttons {
    margin: 13px 0 0 5px;
}