ion-input {
    border-radius: 0px;
    border: 0.8px solid #E3E3E3;
    font-size: 14px;
    height: calc(1.5em + .75rem + 2px);
    padding-left: 28px !important;
}

.save-button {
    float: right;
    font-size: 0.8rem;
    padding: 0;
    --background: var(--ion-color-black-tint);
}

ion-title {
    padding: 5px;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: var(--ion-color-black);
    font-family: DINregular;
}

.close-button {
    font-size: 0.85rem;
    text-transform: uppercase;
    --color: var(--ion-color-black);
    font-family: DINregular;
}

.email-input {
    display: none;
}