<ion-app>
    <ion-menu side="end" menuId="first" contentId="content1" mode="md">
        <ion-header>
            <ion-toolbar class="right-header">
                <ion-icon name="close-circle-outline" slot="end" class="close-icon" (click)="closeMenu()"></ion-icon>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list *ngFor="let link of links">
                <ion-menu-toggle auto-hide="true">
                    <ion-item class="nav-link" href="{{link.url}}" target="_blank">
                        {{link.title}}
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-menu side="start" menuId="second" contentId="content1" mode="md" class="side-menu">
        <ion-header>
            <ion-toolbar class="sidebar-header">
                <ion-title class="sidebar-title">Menu</ion-title>
                <ion-icon name="close-circle-outline" slot="end" class="close-icon" (click)="closeMenu()"></ion-icon>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <app-tree></app-tree>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>